.App {
  padding: 2rem
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-filter-section {
  padding: 2rem;
  background-color: #f2f2f2;
  display: flex;
}

.App-filter-dropdown{
  margin-left: 2rem;
  background-color: white;
}

.App-table-header{
    border-bottom: 1px solid black;
    border-collapse: collapse;
    text-align: left;
}

.App-table-data{
  
}
table { border-collapse:collapse; width:70%}

.App-Status-bar{
  padding: 13px;
  border: 1px solid;
  margin-left: 7rem;
  z-index: 999;
  position: fixed;
}





